  <title>{{ header.title }}</title>
  <meta name="author" content={{ header.author }} />
  <meta property="title" content={{ header.title }} />
  <meta name="description" content={{ header.description }} />
  <meta property="og:title" content={{ header.ogTitle }} />
  <meta property="og:description" content={{ header.description }} />
  <meta property="og:url" content={{ header.ogUrl }} />
  <meta property="og:image" content={{ header.ogImage }} />
  <meta property="og:type" content={{ header.ogType }} />
  <meta property='og:site_name' content={{ header.ogSiteName }}>
  <meta property='twitter:domain' content={{ header.twitterDomain }} />
  <meta property='twitter:title' content={{ header.title }} />
  <meta property='twitter:description' content={{ header.description }} />
  <meta property='twitter:image' content={{ header.twitterImage }} />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <meta name="robots" content="noindex, nofollow, noarchive" />
  <meta name="theme-color" content={{ header.themeColor }}>